
# IntelliJ project files
.idea
*.iml
out
gen

# Build files
build
.gradle
/.gradle
/build
# Project specific
steam_appid.txt
latest-crash.log
/bin
*.class
/bin/main/vulpesnova/VNContent
/bin/main/vulpesnova/VNContent/VNProjectiles
